
.barIndicatorBorder {
border:solid 1px #c0c0c0;
width:200px;
}

.barIndicator_poor {
background-color:gray;
}

.barIndicator_weak {
background-color:orange;
}

.barIndicator_good {
background-color:red;
}

.barIndicator_strong {
background-color:navy;
}

.barIndicator_excellent {
background-color:black;   
}

.textbox {
border: solid 2px #cccccc;
border-top: solid 2px #a0a0a0;
}


.poortext 
{
  font-weight:bold;
  color:gray;   
}

.weaktext
{
  font-weight:bold;
  color:orange;   
}

.goodtext
{
  font-weight:bold;
  color:red;   
}

.strongtext
{
  font-weight:bold;
  color:navy;   
}


.excellenttext
{
  font-weight:bold;
  color:black;   
}